name: dev

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-18.04
    env:
      PGDATA: /tmp/postgres

    steps:
      - uses: actions/checkout@v2
      - uses: laughedelic/coursier-setup@v1
        with:
          jvm: 11
          apps: sbt sbtn

      - name: Install Postgres
        run: |
          echo "/usr/lib/postgresql/13/bin" >> $GITHUB_PATH
          /usr/lib/postgresql/13/bin/initdb -D /tmp/postgres

      - run: postgres --hba_file=pg_hba.conf --unix_socket_directories=/tmp -i -p 8085
      - run: sbtn esw-integration-test/testOnly esw.integration.IntegrationTestWithAuth
      - name: Check logs
          if: always()
          run: |
            ls -la /tmp
            cat /tmp/csw-location-agent_2020-12-23T12:00Z.log

